// Reset default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global styles
body {
  background-image: url('../images/instagram_gradient.jpg');
  font-family: 'Poppins', sans-serif;
  margin-top: 70px; // space for fixed header
  background-color: #fafafa;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

// Header styles
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 0;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .logo-text {
      font-size: 24px;
      font-weight: 600;
      color: #262626;
    }
  }

  .search-bar input {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;

    &:focus {
      border-color: #0078ff;
    }
  }

  .nav-icons {
    display: flex;
    gap: 20px;

    .icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}

// Content styles
.content {
  padding: 80px 20px;
  text-align: center;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

// Post styles
.post {
  background: #fff;
  margin: 1rem auto;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;

  h2 {
    font-size: 1.5rem;
    color: #3498db;
  }

  p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
  }

  button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;

    &.editPostButton {
      background-color: #f39c12;

      &:hover {
        background-color: darken(#f39c12, 10%);
      }
    }

    &.deletePostButton {
      background-color: #e74c3c;

      &:hover {
        background-color: darken(#e74c3c, 10%);
      }
    }
  }

  .commentsContainer {
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;

    h3 {
      color: #2ecc71;
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        background: #f9f9f9;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }

    form {
      margin-top: 1rem;
      display: flex;
      gap: 0.5rem;

      input {
        flex-grow: 1;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      button {
        background-color: #2ecc71;

        &:hover {
          background-color: darken(#2ecc71, 10%);
        }
      }
    }
  }
}

// Button styles (general)
button {
  background-color: #f0ad4e;
  border: none;
  color: white;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e08e19;
  }
}

button.deletePostButton {
  background-color: #d9534f;

  &:hover {
    background-color: #c9302c;
  }
}

// Pagination styles
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: darken(#2ecc71, 10%);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.5);
    }
  }

  #currentPage {
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  }
}

// Modal styles
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    #closeModal {
      background-color: red;
      color: #ffffff;
      font-size: 24px;
      border: none;
      cursor: pointer;
      transition: color 0.3s;
      padding: 10px;
      width: 45px;
      height: 45px;


      &:hover {
        color: #333;
      }
    }

    .df {
      display: flex;
      justify-content: space-between;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: #4CAF50;
        outline: none;
      }
    }

    button {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 14px 20px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}